
@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        



    <div class="form-group">
        <label class="control-label col-md-2">Username</label>
        <div class="col-md-10">
            <input type="text" class="form-control" value="" name="username" />
        </div>

        <label class="control-label col-md-2">Old Password</label>
        <div class="col-md-10">
            <input type="text" class="form-control" value="" name="password" />
        </div>


        <label class="control-label col-md-2">New Password</label>
        <div class="col-md-10">
            <input type="text" class="form-control" value="" name="newpassword" />
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change" class="btn btn-default" />
            </div>
        </div>
    </div>
}

